---
---

<div class="mt-8 flex items-center justify-center">
	<a
		href="/search/?contentType=Changelog+entry"
		class="bg-cl1-brand-orange text-cl1-black flex h-12 items-center justify-center rounded-sm px-6 font-medium no-underline"
	>
		Search all changelog entries
	</a>
</div>
